<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="cols-xl-1 inline-div-display"></div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="ViewTransactions()">View Transactions</button>
      </div>
      <div class="cols-xl-3 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="Logout()">Logout</button>
      </div>
      <div class="cols-xl-1 inline-div-display"></div>
      <div class="cols-xl-3 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="CustomerSupport()">Customer Support</button>
      </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-xl-7">
        <table class="table table-bordered table-striped table-hover">
          <thead>
          <tr>
            <th>Transaction Description</th>
            <th>Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer.transactionDescription}}</td>
            <td>{{ customer.amount}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
