<div class="container col-xl-6">
  <form [formGroup]="transactionDetails">


    <div class="row form-group">
      <label class="form-label" for="transactionType">Transaction Type: </label>
      <select [(ngModel)] ="selectedTransactionType" id="transactionType"  formControlName="transactionType" class="form-control" (change)="onChangeTransactionType(selectedTransactionType,$event)">
        <option disabled>Select transaction type</option>
        <option  [ngValue]="CASH_DEPOSIT">CASH_DEPOSIT</option>
        <option  [ngValue]="CASH_WITHDRAWAL">CASH_WITHDRAWAL</option>
        <option  [ngValue]="ACCOUNT_TO_ACCOUNT">ACCOUNT_TO_ACCOUNT</option>
      </select>
    </div>

    <div class="row form-group">
      <label class="form-label" for="name">Payee: </label>
      <select [(ngModel)] ="selectedPayee" id="name"  formControlName="payee" class="form-control" (change)="onChangePayee(selectedPayee,$event)">
        <option disabled>Select payee</option>
        <option *ngFor="let payee of customers" [ngValue]="payee">{{payee.customerName  + " Sortcode - " + payee.sortcode +  " Account - " + payee.accountNumber }}</option>
      </select>
    </div>
    <div class="row form-group">
      <label class="form-label" for="transactionDescription">Transaction Description: </label>
      <input class="form-control" placeholder="Enter Transaction Description" id="transactionDescription" type="text" formControlName="transactionDescription"
             required [readonly]="!editable">
      <div
        *ngIf=" submitted && transactionDetails.get('transactionDescription').invalid && (transactionDetails.get('transactionDescription').dirty || transactionDetails.get('transactionDescription').touched)"
        class="alert alert-danger">
        <div *ngIf="transactionDetails.get('transactionDescription').errors?.['required']">Please fill out Transaction name.</div>
        <div *ngIf="transactionDetails.get('transactionDescription').errors?.['pattern']">Please fill out Transaction name.</div>
      </div>
    </div>


    <div class="row form-group">
      <label class="form-label" for="currency">Currency: </label>
      <input class="form-control" placeholder="Enter Currency" id="currency" type="text" formControlName="currency"
             required [readonly]="!editable">
      <div
        *ngIf="submitted &&  transactionDetails.get('currency').invalid && (transactionDetails.get('currency').dirty || transactionDetails.get('currency').touched)"
        class="alert alert-danger">
        <div *ngIf="transactionDetails.get('currency').errors?.['required']">Please fill out Currency.</div>
        <div *ngIf="transactionDetails.get('currency').errors?.['pattern']">Please fill out Currency.</div>
      </div>
    </div>

    <div class="row form-group">
      <label class="form-label" for="amount">Amount: </label>
      <input class="form-control" placeholder="Enter Amount" id="amount" type="number" step="0.01"
             formControlName="amount" required [readonly]="!editable">
      <div
        *ngIf="submitted &&  transactionDetails.get('amount').invalid && (transactionDetails.get('amount').dirty || transactionDetails.get('amount').touched)"
        class="alert alert-danger">
        <div *ngIf="transactionDetails.get('amount').errors?.['required']">Please fill out Amount.</div>
        <div *ngIf="transactionDetails.get('amount').errors?.['pattern']">Please fill out Amount.</div>
      </div>
    </div>

    <div class="row form-group">
      <div class="btn col-xl-1">
        <button class="btn btn-primary" type="button" (click)="onSubmit(customer)">Save</button>
      </div>
      <div class="col-xl-1"></div>
      <div class="btn col-xl-1">
        <button class="btn btn-primary" type="button" (click)="onReset()">Reset</button>
      </div>
      <div class="col-xl-1"></div>
      <div class="btn col-xl-1">
        <button class="btn btn-primary" type="button" (click)="onCancel(customer)">Cancel</button>
      </div>
      <div class="btn col-xl-6">
      </div>
    </div>
  </form>
</div>
