<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FAQ's</title>
</head>
<body>
<div class="container">
  <nav>
    <ul>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="Logout()">Logout</button>
      </div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="CustomerSupport()">Support</button>
      </div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="CustomerContact()">Contact</button>
      </div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="ViewTransactions()">View Transactions</button>
      </div>
      <div class="cols-xl-3 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="Budget()">Budget</button>
      </div>
    </ul>
  </nav>
  <span>
<h1 style="font-size: 90px;">FAQ's</h1>
&nbsp;
<p class="FAQ">What is a reference?</p>
<p class="FAQS">Payment reference is a message to the payee so that they can easily identify the payer or purpose of the transaction. </p>
&nbsp;&nbsp;
<p class="FAQ">Where can I view my Transactions?</p>
<p class="FAQS"> There is a view transaction button on this page and on all the pages you can use that to go back to viewing your transactions.</p>
&nbsp;&nbsp;
<p class="FAQ">What support is available?</p>
<p class="FAQS">By clicking the support button you are able to see the queries asked previously, the queries that are popular and are able to get the contact information for a bank or any of us who can help you with any queries about the app.</p>
&nbsp;
<p class="FAQ">How do I report suspicious activity?</p>
<p class="FAQS">You can report suspicious activity by getting into contact with one of our team members by clicking the support button which brings up a page which has a contact button by clicking on it you are able to see that Andrew is the person to contact regarding this. </p>
&nbsp;
<p class="FAQ">Who do I contact for support?</p>
<p class="FAQS"> There is a support button in the dashboard by clicking on it and then clicking on the contact button you are able to see various people for you to contact it also includes the designated problem they can help you solve.</p>
&nbsp;
<p class="FAQ"> How to report a bug in the application?</p>
<p class="FAQS">To report a bug in the application you can get into contact with a member of our team.</p>
&nbsp;
<p class="FAQ">How to log out?</p>
<p class="FAQS"> To log out simply click on the log out button at the top.</p>
</span>
</div>
</body>
</html>
