<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FAQ's</title>
</head>
<body>
<div class="container">
  <nav>
    <ul>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="Logout()">Logout</button>
      </div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="EmployeeFAQ()">FAQ</button>
      </div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="EmployeeContact()">Contact</button>
      </div>
    </ul>
  </nav>
  <span>
        <p style="font-size: 100px;">Popular Queries <i class="questions"></i></p>
<p style="font-size: 40px;"class="question" href="EmployeeSupport.html">Why can't I see a customer that was previously there?</p>
<p></p>
    <a style="font-size: 40px;"class="question"href="EmployeeSupport.html">Who do I contact for support?</a>
<p></p>
    <a style="font-size: 40px;" class="question"href="EmployeeSupport.html">How to report a bug in th application?</a>
<p></p>
    <a  style="font-size: 40px;" class="question"href="EmployeeSupport.html">How do I create a customer?</a>
</span>
</div>
</body>
</html>
