<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Customer Support</title>
</head>
<body>
<div class="container">
  <nav>
    <ul>
        <div class="cols-xl-1 inline-div-display">
          <button class="btn btn-primary" type="button" (click)="Logout()">Logout</button>
        </div>
        <div class="cols-xl-1 inline-div-display">
          <button class="btn btn-primary" type="button" (click)="CustomerContact()">Contact</button>
        </div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="CustomerFAQ()">FAQ's</button>
      </div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="ViewTransactions()">View Transactions</button>
      </div>
      <div class="cols-xl-3 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="Budget()">Budget</button>
      </div>
    </ul>
  </nav>
  <span>

        <p style="font-size: 100px;"> Popular Queries</p>
<p></p>
        <a style="font-size: 40px;" href="CustomerFAQ.html" class="question">Why the payee hasn't received the money? </a>
<p></p>
        <a style="font-size: 40px;" href="CustomerFAQ.html" class="question">How do I report suspicious activity?</a>
<p></p>
        <a style="font-size: 40px;" href="CustomerFAQ.html" class="question">Who do I contact for support?</a>
<p></p>
        <a style="font-size: 40px;" href="CustomerFAQ.html" class="question">How to report a bug in th application?</a>
<p></p>
        <a style="font-size: 40px;" href="CustomerFAQ.html" class="question">How to return to the dashboard?</a>
<p></p>
        <a style="font-size: 40px;" href="CustomerFAQ.html" class="question">How to log out?</a>
    <p></p>
</span>
</div>


</body>
</html>
