<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FAQ's</title>
</head>
<div class="container">
  <nav>
    <ul>
      <div  class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="Logout()">Logout</button>
      </div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="EmployeeSupport()">Support</button>
      </div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="EmployeeContact()">Contact</button>
      </div>
    </ul>
  </nav>
  <span>
<h1 style="font-size: 100px;">FAQ's</h1>
&nbsp;

<p class="FAQ">Where can I view the database of customer?</p>
<p class="FAQS">When you log in you can see the customer information that you have entered. If you are on the edit or delete page you are automatically redirected back to the view all the customers after you have either deleted/ edited the customer or clicked on th cancel button</p>
&nbsp;
<p class="FAQ">What support is available?</p>
<p class="FAQS">By clicking the support button you are able to see the queries asked previously, the queries that are popular and any of us who can help you with any queries about the app.</p>
&nbsp;
<p class="FAQ"> How to delete for a customer?</p>
<p class="FAQS"> You can delete  a customer by clicking on the delete button under the actions section of the table </p>

<p class="FAQ"> How to edit for a customer?</p>
<p class="FAQS"> You can edit  a customer by clicking on the edit button under the actions section of the table </p>
<p class="FAQ"> How to create for a customer?</p>
<p class="FAQS"> You can create  a customer by clicking on the new customer button at top before the table which lists all the customers</p>
  </span>
</div>
</html>
