<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Support</title>

</head>
<body>
<div class="container">
  <nav>
    <ul>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="Logout()">Logout</button>
      </div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="EmployeeSupport()">Support</button>
      </div>
      <div class="cols-xl-1 inline-div-display">
        <button class="btn btn-primary" type="button" (click)="EmployeeFAQ()">FAQ's</button>
      </div>
    </ul>
  </nav>
  <span>
       <p style="text-decoration:underline;">Andrew Campbell</p>
<a  style="font-size: 30px"href="tel:+4498765435">Office Number</a>
<p></p>
<a  style="font-size: 30px"href="mailto:acampbell78@gmail.com">Email</a>
<p style="font-size: 30px">Guidance: Application bugs,problems with navigating the application and the general application components.</p>
&nbsp;<p></p>
<p style="text-decoration:underline;">Ariel Waters</p>
<a  style="font-size: 30px"href="tel:++448977654">Office Number</a>
<p></p>
<a  style="font-size: 30px"href="mailto:awinters22@gmail.com">Email</a>
<p style="font-size: 30px">Guidance: Explaining the details about the application such as how to transfer money.</p>
</span>
</div>

</body>
</html>
