<div class="container">
  <div class="row">
    <div class="container">
        <div class="cols-xl-1 inline-div-display"></div>
        <div class="cols-xl-3 inline-div-display">
      <button class="btn btn-primary" type="button" (click)="addNewCustomer()">New Customer</button>
        </div>
        <div class="cols-xl-1 inline-div-display"></div>
        <div class="cols-xl-3 inline-div-display">
          <button class="btn btn-primary" type="button" (click)="EmployeeSupport()">Support</button>
        </div>
        <div class="cols-xl-1 inline-div-display"></div>
        <div class="cols-xl-3 inline-div-display">
            <button class="btn btn-primary" type="button" (click)="Logout()">Logout</button>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-xl-7">
        <table class="table table-bordered table-striped table-hover">
          <thead>
          <tr>
            <th>Customer Name</th>
            <th>Account Number</th>
            <th>Sort Code</th>
            <th>Currency</th>
            <th>Balance</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody *ngIf="numberOfCustomers > 0">
          <tr *ngFor="let customer of customers">
            <td>{{ customer.customerName }}</td>
            <td>{{ customer.accountNumber }}</td>
            <td>{{ customer.sortcode }}</td>
            <td>{{ customer.currency }}</td>
            <td>{{ customer.bankBalance}}</td>
            <td>
              <button class="btn btn-primary" type="button" (click)="onDelete(customer)">Delete</button>
              <button class="btn btn-primary" type="button" (click)="onEdit(customer)">Edit</button>
<!--              <button class="btn btn-primary" type="button" (click)="onTransaction(customer)">Transactions</button>-->
            </td>
          </tr>
          </tbody>
          <tbody *ngIf="numberOfCustomers == 0">
          <tr>
            <td colspan="5">No Customers, Please add customers using the New Customer Button</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
